@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	
	var pageTitle = !string.IsNullOrWhiteSpace(Model.Name) ? $"Onatrix | {Model.Name}" : "Onatrix";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@pageTitle</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="icon" type="image/x-icon" href="~/favicon-Onatrix.svg" />
		<link rel="stylesheet" href="~/css/styles.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	</head>
	<body>
		<header>
			<p></p>
		</header>
		<main>
			@RenderBody()
		</main>
		<footer class="text-center p-4 text-sm">
			<p>&copy; Onatrix @DateTime.Now.Year. All Rights Reserved. Credits to <span>Themesflat</span> & <span><a href="https://lerrium.solutions" target="_blank">Lerrium Solutions</a></span></p>
		</footer>
	</body>
</html>