<?xml version="1.0" encoding="utf-8"?>
<Media Key="984cea2f-ea54-490e-82f4-21884e0b1b37" Alias="About-KevinGardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutKevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:23:28</CreateDate>
    <NodeName Default="About-KevinGardner.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1vlp24sp/about-kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>