<?xml version="1.0" encoding="utf-8"?>
<Media Key="60fe584d-4fcf-4497-848d-9e4cf3b34ce7" Alias="ArticleImg4-Group.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg4Groupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:26:34</CreateDate>
    <NodeName Default="ArticleImg4-Group.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5sfzawu/articleimg4-group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>