<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f28d14b-bb60-400e-8096-2e743988ae01" Alias="ArticleImg5-TwoPeople.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg5TwoPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:26:33</CreateDate>
    <NodeName Default="ArticleImg5-TwoPeople.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xfwivll1/articleimg5-twopeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>