<?xml version="1.0" encoding="utf-8"?>
<Media Key="25122a38-f0f5-4771-b0c4-09f1d9c1f6a1" Alias="ArticleImg2-Hand.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg2Handsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:26:34</CreateDate>
    <NodeName Default="ArticleImg2-Hand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zkllbr5o/articleimg2-hand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>