<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd85057a-41cf-43f6-92c1-6aa5b06fd5df" Alias="ArticleImg6-FourPeople.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg6FourPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:26:34</CreateDate>
    <NodeName Default="ArticleImg6-FourPeople.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rc2cox4u/articleimg6-fourpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>