<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd6b8e84-41a3-481e-a2c2-fc41d2474555" Alias="ArticleImg3-TwoPeople.png" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg3TwoPeoplepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T16:26:33</CreateDate>
    <NodeName Default="ArticleImg3-TwoPeople.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bncc0c4k/articleimg3-twopeople.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>