<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a1a190e-16f7-4f4e-8d33-25af4ab1cb8d" Alias="ArticleImg1-FourPeople.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/ArticleImg1FourPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:26:33</CreateDate>
    <NodeName Default="ArticleImg1-FourPeople.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5sslrshm/articleimg1-fourpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>