<?xml version="1.0" encoding="utf-8"?>
<Media Key="8097d196-c875-49b8-80a6-c3cc9772f6e0" Alias="Aside-HelpRequest.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AsideHelpRequestsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:09:37</CreateDate>
    <NodeName Default="Aside-HelpRequest.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mrwdkyto/aside-helprequest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>