<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aa0fb2c-d771-4f99-8cff-65df39b3f4ce" Alias="BoastImg2-TheGroup.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BoastImg2TheGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T10:01:06</CreateDate>
    <NodeName Default="BoastImg2-TheGroup.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zdafcdk/boastimg2-thegroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>