<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab5b6f31-4385-411d-8a5d-a253f8485104" Alias="BoastImg4-VideoFourPeople.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BoastImg4VideoFourPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T11:22:52</CreateDate>
    <NodeName Default="BoastImg4-VideoFourPeople.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypjpssm4/boastimg4-videofourpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>