<?xml version="1.0" encoding="utf-8"?>
<Media Key="73156148-49af-48b3-88a4-5c86a01799b1" Alias="Brand0-OnatrixLogo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brand0OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T18:10:33</CreateDate>
    <NodeName Default="Brand0-OnatrixLogo.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xlolpenu/brand0-onatrixlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>