<?xml version="1.0" encoding="utf-8"?>
<Media Key="b29938a8-f2f5-4e16-af63-42be99f7e740" Alias="Brand3-NaturalLogo.svg" Level="2">
  <Info>
    <Parent Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5">Brand Logos</Parent>
    <Path>/BrandLogos/Brand3NaturalLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:56:24</CreateDate>
    <NodeName Default="Brand3-NaturalLogo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkcdwuho/brand3-naturallogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>