<?xml version="1.0" encoding="utf-8"?>
<Media Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5" Alias="Brand Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T11:39:40</CreateDate>
    <NodeName Default="Brand Logos" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>