<?xml version="1.0" encoding="utf-8"?>
<Media Key="228f0b4c-dfd7-4cf2-be39-981d932247bb" Alias="Brand4-SimpleafLogo.svg" Level="2">
  <Info>
    <Parent Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5">Brand Logos</Parent>
    <Path>/BrandLogos/Brand4SimpleafLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:56:24</CreateDate>
    <NodeName Default="Brand4-SimpleafLogo.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x01c1qgm/brand4-simpleaflogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>