<?xml version="1.0" encoding="utf-8"?>
<Media Key="a68188ed-5549-4435-b88f-86627351710f" Alias="Brand5-GlobeLogo.svg" Level="2">
  <Info>
    <Parent Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5">Brand Logos</Parent>
    <Path>/BrandLogos/Brand5GlobeLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:56:25</CreateDate>
    <NodeName Default="Brand5-GlobeLogo.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d20dgrcs/brand5-globelogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>