<?xml version="1.0" encoding="utf-8"?>
<Media Key="48b4a62b-e822-47dc-9722-afaee962562b" Alias="Brand1-FreedombirdLogo.svg" Level="2">
  <Info>
    <Parent Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5">Brand Logos</Parent>
    <Path>/BrandLogos/Brand1FreedombirdLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:56:24</CreateDate>
    <NodeName Default="Brand1-FreedombirdLogo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1enbnkrz/brand1-freedombirdlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>