<?xml version="1.0" encoding="utf-8"?>
<Media Key="575afae9-518c-474f-8a27-b7bc90a665a6" Alias="Brand2-IdentityLogo.svg" Level="2">
  <Info>
    <Parent Key="d61dae71-7c7e-4a95-a0a5-4295ba0005c5">Brand Logos</Parent>
    <Path>/BrandLogos/Brand2IdentityLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:56:24</CreateDate>
    <NodeName Default="Brand2-IdentityLogo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dndprnmx/brand2-identitylogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>