<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9ff7ca7-11da-4824-84d7-d4fa0c6c72e8" Alias="CEO-TinaFox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:16:03</CreateDate>
    <NodeName Default="CEO-TinaFox.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kxaf0o4b/ceo-tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>