<?xml version="1.0" encoding="utf-8"?>
<Media Key="51aa4948-3124-49e2-a8bb-ccba578d06f1" Alias="DetailImg1-FourPeople.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/DetailImg1FourPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T21:07:36</CreateDate>
    <NodeName Default="DetailImg1-FourPeople.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xl0armz5/detailimg1-fourpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>