<?xml version="1.0" encoding="utf-8"?>
<Media Key="af162258-13fb-4dc3-ad3a-8f732d649af0" Alias="DetailImg2-FivePeople.svg" Level="2">
  <Info>
    <Parent Key="1337420a-3083-49d4-9bd3-bc1bc048b723">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/DetailImg2FivePeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T21:02:44</CreateDate>
    <NodeName Default="DetailImg2-FivePeople.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkplitpa/detailimg2-fivepeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>