<?xml version="1.0" encoding="utf-8"?>
<Media Key="70a68752-d16c-4553-9954-f20d0477e941" Alias="Img0-HeroImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img0HeroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T01:04:20</CreateDate>
    <NodeName Default="Img0-HeroImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ua3ajetx/img0-heroimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>