<?xml version="1.0" encoding="utf-8"?>
<Media Key="c18e152a-5ffc-47d1-9fdf-9dfb0124d951" Alias="InfoComponent.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InfoComponentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:51:26</CreateDate>
    <NodeName Default="InfoComponent.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1cucyi5h/infocomponent.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>