<?xml version="1.0" encoding="utf-8"?>
<Media Key="926d255d-0283-4903-9e88-4907aa393ec3" Alias="OnlineSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:39:21</CreateDate>
    <NodeName Default="OnlineSignature.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v4mm42ey/onlinesignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>