<?xml version="1.0" encoding="utf-8"?>
<Media Key="1337420a-3083-49d4-9bd3-bc1bc048b723" Alias="Service Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T16:54:05</CreateDate>
    <NodeName Default="Service Thumbnails" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>