<?xml version="1.0" encoding="utf-8"?>
<Media Key="08354a5b-5fa2-411d-950f-adfc185c4b3f" Alias="StaticMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StaticMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:50:46</CreateDate>
    <NodeName Default="StaticMap.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vh1jp0vz/staticmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>