<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f6c4d83-7989-4b47-85b8-b4aed500e288" Alias="TeamMember-AaronLambert.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberAaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-AaronLambert.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ohym3lms/teammember-aaronlambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>