<?xml version="1.0" encoding="utf-8"?>
<Media Key="665a3349-6778-4021-9b52-cb4793fe275c" Alias="TeamMember-TinaFox.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-TinaFox.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xohprbdd/teammember-tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>