<?xml version="1.0" encoding="utf-8"?>
<Media Key="4557fbab-9ef6-49de-9598-b590c4ba7cf6" Alias="TeamMember-MirandaDayton.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberMirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-MirandaDayton.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfdplj5n/teammember-mirandadayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>