<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d6e22c1-26c9-4abc-bdec-110bd90f3264" Alias="TeamMember-BrandonKerr.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberBrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-BrandonKerr.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gopnz14s/teammember-brandonkerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>