<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5021c50-7586-4a16-a3ed-66fa098da442" Alias="TeamMember-AJCarter.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberAJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-AJCarter.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ukqlan23/teammember-ajcarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>