<?xml version="1.0" encoding="utf-8"?>
<Media Key="599a894e-95fb-4ebf-823f-11cbfe242247" Alias="TeamMember-KevinGardner.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberKevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:38</CreateDate>
    <NodeName Default="TeamMember-KevinGardner.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xq0dro5a/teammember-kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>