<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee5f27e2-2415-4aaa-91b1-87db4bd3f34c" Alias="TeamMember-BrandonNewton.svg" Level="2">
  <Info>
    <Parent Key="a2a4eebf-6a07-48f0-ab43-2bbf7b433783">Team Members</Parent>
    <Path>/TeamMembers/TeamMemberBrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T15:50:28</CreateDate>
    <NodeName Default="TeamMember-BrandonNewton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccnp0dao/teammember-brandonnewton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>