@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

}

<section class="text-main-light text-center p-4 text-sm">
    <p>&copy; Onatrix @DateTime.Now.Year. All Rights Reserved. Credits to <span>Themesflat</span> & <span><a href="https://lerrium.solutions" target="_blank">Lerrium Solutions</a></span></p>
</section>