@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var logo = siteSettings?.SiteLogo;
}

<nav class="max-w-7xl mx-auto flex items-center justify-between p-4">
    @if (logo != null)
    {
        <a href="/" class="shrink-0">
            <img src="@logo.Url()" alt="Onatrix Logo" class="h-10" />
        </a>
    }
    else {
        <a href="/" class="shrink-0">
            <h1 class="text-2xl font-bold">Onatrix</h1>
        </a>
    }

    <ul class="flex items-center gap-16">
        <li>
            <a href="/about" class="font-bold text-primary hover:text-secondary transition-colors">
                About
            </a>
        </li>
        <li>
            <a href="/services" class="font-bold text-primary hover:text-secondary transition-colors">
                Services
            </a>
        </li>
        <li>
            <a href="/projects" class="font-bold text-primary hover:text-secondary transition-colors">
                Projects
            </a>
        </li>
        <li>
            <a href="/contact" class="font-bold text-primary hover:text-secondary transition-colors">
                Contact
            </a>
        </li>
    </ul>

    <div class="">
        <i class="fa-solid fa-magnifying-glass text-lg text-primary cursor-pointer"></i>
    </div>
</nav>