<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9756f57-aa1e-47cb-8dcb-c0584c909743" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="74f448f1-2eba-4399-83fb-8f122d559644">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a745f37a-42ea-49ba-a515-dfbc83046941" SortOrder="0">contactPage</ContentType>
    <ContentType Key="5cec39d7-eced-4d64-9aa1-eeaedf5f5ecb" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="a786ade1-c292-40fd-aa5e-fd52f4fe37cb" SortOrder="2">servicesPage</ContentType>
    <ContentType Key="f62ad33a-d971-45c9-a47e-726d1174fad7" SortOrder="3">projectsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>32df71f4-cb0b-484e-8ffd-35f29b1af8c7</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>cfedcee7-9330-40e3-971f-6fecfeca1556</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f2e17763-aa05-43b3-8f4e-78dd7a432ba8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>