<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f62ad33a-d971-45c9-a47e-726d1174fad7" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-box</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8e5dc584-ad30-43b3-93e0-4b3ac3cfb2cc">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ProjectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="059b3cae-83ea-4e8b-a1d3-bb2fee05739c">ProjectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a64a1785-909d-49e4-9b47-0c3cc5bb1797</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>cfedcee7-9330-40e3-971f-6fecfeca1556</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fdb29e1c-dfcb-4799-ab14-34b90c775eb3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>