<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2aa65e89-9384-4673-9ff3-edb88a81a305" Alias="serviceDetail" Level="2">
  <Info>
    <Name>Service Detail</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collections</Folder>
    <Compositions>
      <Composition Key="8e5dc584-ad30-43b3-93e0-4b3ac3cfb2cc">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ServiceDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dc284fca-577e-45b5-8298-c0c1cdf9e77f">ServiceDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09788b39-424a-4d44-9748-04b5e5f16a6c</Key>
      <Name>Body</Name>
      <Alias>serviceDetailBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17d0dcfa-bdde-4fd2-bd79-4fab823d9bd6</Key>
      <Name>Excerpt</Name>
      <Alias>serviceDetailExcerpt</Alias>
      <Definition>90e0bdbd-7eb0-4b53-a092-f878f958400a</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a3579f8-7a56-4661-af9d-0b8dde44b2ed</Key>
      <Name>Widgets</Name>
      <Alias>serviceDetailsAsides</Alias>
      <Definition>0cc3c7ff-2884-4713-b873-afa7e123e1d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9da374b-7527-436e-886e-7617a68dfc4d</Key>
      <Name>Thumbnail</Name>
      <Alias>serviceDetailThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>882e0573-0e7d-48d5-8b57-8ce7d521e5ab</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cbc6cc9d-75aa-4523-9a0b-b7a9624fdabf</Key>
      <Caption>Aside</Caption>
      <Alias>aside</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>