<?xml version="1.0" encoding="utf-8"?>
<Content Key="486b80a6-0c6d-4a6f-8c78-02c04a8f8327" Alias="2025-10-31 10:56 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T10:56:05</CreateDate>
    <NodeName Default="2025-10-31 10:56 - Slisk Lindqvist" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business Development]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700797082]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>