<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5796995-feab-4a2d-9f9b-0014299150c2" Alias="2025-11-10 16:11 - slisk.lindqvist@querzion.com" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/slisklindqvistQuerzioncom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-10T16:11:13</CreateDate>
    <NodeName Default="2025-11-10 16:11 - slisk.lindqvist@querzion.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>