<?xml version="1.0" encoding="utf-8"?>
<Content Key="0503e35d-fb24-4a07-a2a5-b8bad96b3d81" Alias="2025-11-10 16:09 - slisk.lindqvist@querzion.com" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/slisklindqvistQuerzioncom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-10T16:09:04</CreateDate>
    <NodeName Default="2025-11-10 16:09 - slisk.lindqvist@querzion.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>