<?xml version="1.0" encoding="utf-8"?>
<Content Key="b916058d-ea57-409c-9f3b-ad9002ae2085" Alias="2025-11-10 16:10 - slisk.lindqvist@querzion.com (1)" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/slisklindqvistQuerzioncom1</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-10T16:10:47</CreateDate>
    <NodeName Default="2025-11-10 16:10 - slisk.lindqvist@querzion.com (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>