<?xml version="1.0" encoding="utf-8"?>
<Content Key="089bc3c5-3ec3-4e1f-b35b-33520157652c" Alias="About" Level="2">
  <Info>
    <Parent Key="85a99a43-6bac-4261-85db-a98adbe97d25">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-21T02:45:01</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c1b1e91-f38e-454b-941b-f62053618286">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "key": "5f04cf40-801a-4ae2-84fe-1e367ec94ffb",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "infoLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "infoLocationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "infoPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "infoPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "infoEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "infoEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "53dc67ff-eb59-4d6d-b46c-5e7b25993ed5",
              "mediaKey": "c18e152a-5ffc-47d1-9fdf-9dfb0124d951",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cd9cf67f-e069-416d-9836-fb59a7f150cd",
      "key": "1e5685a8-0501-4650-9619-11f96b094025",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "76ae3cd5-1e62-4130-a421-e5711ba47934",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c6884dad-8361-455b-a48e-7a4b819c9ece",
                        "mediaKey": "ee5f27e2-2415-4aaa-91b1-87db4bd3f34c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "ec3ce41a-1fbe-416f-83e2-1dc3dea1e845",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c0ca9d78-d8ee-4715-9482-95d677db9579",
                        "mediaKey": "d5021c50-7586-4a16-a3ed-66fa098da442",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "1a965b0f-f61e-4fa2-ac64-69c8873606c8",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a53af717-e719-4650-8e9e-6714ccd29653",
                        "mediaKey": "4f6c4d83-7989-4b47-85b8-b4aed500e288",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "b226d164-3fbb-4eb0-bdff-9066ba8beb72",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4d73703a-f334-4a29-9746-c7adfbe2a225",
                        "mediaKey": "665a3349-6778-4021-9b52-cb4793fe275c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "b57e757f-5003-40cb-a903-50c0ffd3e1e6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f634ad2a-3a4e-404f-bc7e-7c988d2f7da1",
                        "mediaKey": "0d6e22c1-26c9-4abc-bdec-110bd90f3264",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "08d8734c-47fd-4565-a312-017eb2b7c144",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b115b1e1-2f02-4292-91cf-0d06d3bec51e",
                        "mediaKey": "4557fbab-9ef6-49de-9598-b590c4ba7cf6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
                "key": "25d2303d-bd91-4ca7-ade5-4331ca36314a",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "294da043-00aa-4857-a6e4-d4e46a05e322",
                        "mediaKey": "599a894e-95fb-4ebf-823f-11cbfe242247",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "76ae3cd5-1e62-4130-a421-e5711ba47934",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ec3ce41a-1fbe-416f-83e2-1dc3dea1e845",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1a965b0f-f61e-4fa2-ac64-69c8873606c8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b226d164-3fbb-4eb0-bdff-9066ba8beb72",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b57e757f-5003-40cb-a903-50c0ffd3e1e6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "08d8734c-47fd-4565-a312-017eb2b7c144",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "25d2303d-bd91-4ca7-ade5-4331ca36314a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "76ae3cd5-1e62-4130-a421-e5711ba47934",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ec3ce41a-1fbe-416f-83e2-1dc3dea1e845",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1a965b0f-f61e-4fa2-ac64-69c8873606c8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b226d164-3fbb-4eb0-bdff-9066ba8beb72",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b57e757f-5003-40cb-a903-50c0ffd3e1e6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "08d8734c-47fd-4565-a312-017eb2b7c144",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "25d2303d-bd91-4ca7-ade5-4331ca36314a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a",
      "key": "ec8cbe3d-61bd-4baf-832b-d5f51506bd12",
      "udi": null,
      "values": [
        {
          "alias": "infoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5f04cf40-801a-4ae2-84fe-1e367ec94ffb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1e5685a8-0501-4650-9619-11f96b094025",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1e5685a8-0501-4650-9619-11f96b094025",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5f04cf40-801a-4ae2-84fe-1e367ec94ffb",
        "contentUdi": null,
        "settingsKey": "ec8cbe3d-61bd-4baf-832b-d5f51506bd12",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>