<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b2beef5-0442-4bce-a4ed-2d6296e3e596" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="d663e344-2cd9-4f47-97a8-c42775db89ee">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-26T20:42:12</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc284fca-577e-45b5-8298-c0c1cdf9e77f">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e4e5060e-414a-4ab3-8d65-6baa81161e81",
    "mediaKey": "bd6b8e84-41a3-481e-a2c2-fc41d2474555",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>