<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a85dc7d-4263-4cc2-b06e-3bfc7593a0d0" Alias="Callback Request - 2025-11-14 12:46 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/CallbackRequest202511141246SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T12:46:06</CreateDate>
    <NodeName Default="Callback Request - 2025-11-14 12:46 - Slisk Lindqvist" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Marketing Strategy]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700797082]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>