<?xml version="1.0" encoding="utf-8"?>
<Content Key="2881a4d3-5213-43ce-a167-59d36f8f5b4d" Alias="Callback Request - 2025-11-14 11:49 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/CallbackRequest202511141149SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T11:49:53</CreateDate>
    <NodeName Default="Callback Request - 2025-11-14 11:49 - Slisk Lindqvist" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Evasion... Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700797082]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>