<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6fa9795-571d-478a-b45b-9fd4cf94324d" Alias="Callback Request - 2025-11-14 11:35 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/CallbackRequest202511141135SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T11:35:23</CreateDate>
    <NodeName Default="Callback Request - 2025-11-14 11:35 - Slisk Lindqvist" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700797082]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>