<?xml version="1.0" encoding="utf-8"?>
<Content Key="e36a349f-c1ca-4b3c-bc2f-ff6275e55b03" Alias="Callback Request - 2025-11-14 12:00 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/CallbackRequest202511141200SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T12:00:50</CreateDate>
    <NodeName Default="Callback Request - 2025-11-14 12:00 - Slisk Lindqvist" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Evasion... Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700797082]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>