<?xml version="1.0" encoding="utf-8"?>
<Content Key="6876e2cc-db58-4107-bcbf-5de604d62dd7" Alias="Contact" Level="2">
  <Info>
    <Parent Key="85a99a43-6bac-4261-85db-a98adbe97d25">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-21T02:40:38</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b7a76d3-034b-4ae0-bd0d-0301f6c1ce03">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "key": "98fccef9-078e-4c78-ae5f-22e0866771a5",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "infoLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "infoLocationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "infoPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "infoPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "infoEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "infoEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7a0d5a56-021a-4fea-9187-08ca7ac41cce",
              "mediaKey": "c18e152a-5ffc-47d1-9fdf-9dfb0124d951",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a",
      "key": "e11b0421-a200-4653-a8b5-d774df27bdd6",
      "udi": null,
      "values": [
        {
          "alias": "infoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "98fccef9-078e-4c78-ae5f-22e0866771a5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "98fccef9-078e-4c78-ae5f-22e0866771a5",
        "contentUdi": null,
        "settingsKey": "e11b0421-a200-4653-a8b5-d774df27bdd6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>