<?xml version="1.0" encoding="utf-8"?>
<Content Key="6876e2cc-db58-4107-bcbf-5de604d62dd7" Alias="Contact" Level="2">
  <Info>
    <Parent Key="85a99a43-6bac-4261-85db-a98adbe97d25">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-21T02:40:38</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b7a76d3-034b-4ae0-bd0d-0301f6c1ce03">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "key": "98fccef9-078e-4c78-ae5f-22e0866771a5",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "infoLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "infoLocationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "infoPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "infoPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "infoEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "infoEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7a0d5a56-021a-4fea-9187-08ca7ac41cce",
              "mediaKey": "c18e152a-5ffc-47d1-9fdf-9dfb0124d951",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ae7e07bd-ad9d-4bcd-b58d-a3da7c64e09f",
      "key": "0435c384-01a6-4179-8562-d1bca8bf9ebe",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactCallbackFormText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "mapBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b0417bc1-8a3b-4a7e-8033-16069b18030b",
              "mediaKey": "08354a5b-5fa2-411d-950f-adfc185c4b3f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "28c0b3d5-41dc-4f8f-93b7-f695f8c5a124",
      "key": "ca29d9f2-ba35-445e-a235-916c7aefb9c5",
      "udi": null,
      "values": [
        {
          "alias": "brandLogoList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "88e9cff7-fe39-4d84-a691-95f87bde7ec7",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6e97a4f0-c0cb-4f6c-b72e-8f4320c3a836",
                        "mediaKey": "48b4a62b-e822-47dc-9722-afaee962562b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "f6d9ae12-9dc4-417d-88e5-d3817f479aa7",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "be5a7a4c-eb74-435f-88dc-f75ca93d60f3",
                        "mediaKey": "575afae9-518c-474f-8a27-b7bc90a665a6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "d21db508-00a8-493e-b9d2-f52520312a53",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1a7bf3ab-9f9f-4eb5-9dfc-4bc4f308ee73",
                        "mediaKey": "b29938a8-f2f5-4e16-af63-42be99f7e740",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "5b5be07c-fda7-42a2-aa20-74f9d22df731",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5c2b6df2-95bf-4df4-8b35-284254d42667",
                        "mediaKey": "228f0b4c-dfd7-4cf2-be39-981d932247bb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "39a6a367-ca90-459b-a4e8-d2367b326814",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7cc16094-4fa3-491e-a75e-bb9c16853eca",
                        "mediaKey": "a68188ed-5549-4435-b88f-86627351710f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a",
                "key": "a1fe0135-7d89-4a1d-a6d5-afe11a35b30c",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fc94db1c-5ef0-45d7-a4ed-190e6c4bbbe2",
                        "mediaKey": "9b6d7f89-cccc-439a-9498-f90fdcfb6222",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "88e9cff7-fe39-4d84-a691-95f87bde7ec7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f6d9ae12-9dc4-417d-88e5-d3817f479aa7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d21db508-00a8-493e-b9d2-f52520312a53",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5b5be07c-fda7-42a2-aa20-74f9d22df731",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "39a6a367-ca90-459b-a4e8-d2367b326814",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1fe0135-7d89-4a1d-a6d5-afe11a35b30c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "88e9cff7-fe39-4d84-a691-95f87bde7ec7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f6d9ae12-9dc4-417d-88e5-d3817f479aa7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d21db508-00a8-493e-b9d2-f52520312a53",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5b5be07c-fda7-42a2-aa20-74f9d22df731",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "39a6a367-ca90-459b-a4e8-d2367b326814",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1fe0135-7d89-4a1d-a6d5-afe11a35b30c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a",
      "key": "e11b0421-a200-4653-a8b5-d774df27bdd6",
      "udi": null,
      "values": [
        {
          "alias": "infoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c7a36d02-dbde-4d59-8bc8-a8fe464d0368",
      "key": "612009c7-5719-4243-be6e-339a2596305b",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness Development\nMarketing Strategy\nTax Evasion... Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "98fccef9-078e-4c78-ae5f-22e0866771a5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0435c384-01a6-4179-8562-d1bca8bf9ebe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca29d9f2-ba35-445e-a235-916c7aefb9c5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "98fccef9-078e-4c78-ae5f-22e0866771a5",
        "contentUdi": null,
        "settingsKey": "e11b0421-a200-4653-a8b5-d774df27bdd6",
        "settingsUdi": null
      },
      {
        "contentKey": "0435c384-01a6-4179-8562-d1bca8bf9ebe",
        "contentUdi": null,
        "settingsKey": "612009c7-5719-4243-be6e-339a2596305b",
        "settingsUdi": null
      },
      {
        "contentKey": "ca29d9f2-ba35-445e-a235-916c7aefb9c5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>