<?xml version="1.0" encoding="utf-8"?>
<Content Key="c44e60d2-7c7e-4dec-b670-3f918334ef5a" Alias="Help Request - 2025-11-14 11:36 - slisk.lindqvist@querzion.com" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/HelpRequest202511141136SlisklindqvistQuerzioncom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-14T11:36:06</CreateDate>
    <NodeName Default="Help Request - 2025-11-14 11:36 - slisk.lindqvist@querzion.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>