<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6e75b45-5547-48d6-a077-4551ac9bd2b6" Alias="Projects" Level="2">
  <Info>
    <Parent Key="85a99a43-6bac-4261-85db-a98adbe97d25">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2025-10-21T02:57:22</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="059b3cae-83ea-4e8b-a1d3-bb2fee05739c">ProjectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "key": "824c4383-cf29-4e6c-a8e9-7d692437863c",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "infoLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "infoLocationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "infoPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "infoPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "infoEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "infoEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2cecae2e-0d85-4fb0-be41-18d2e21b1184",
              "mediaKey": "c18e152a-5ffc-47d1-9fdf-9dfb0124d951",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a",
      "key": "6525bf80-0a07-4762-9489-f038e5a7b51d",
      "udi": null,
      "values": [
        {
          "alias": "infoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "824c4383-cf29-4e6c-a8e9-7d692437863c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "824c4383-cf29-4e6c-a8e9-7d692437863c",
        "contentUdi": null,
        "settingsKey": "6525bf80-0a07-4762-9489-f038e5a7b51d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>