<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e035eb3-8777-43f4-b5c1-38d67ef4b640" Alias="Question - 2025-11-14 11:52 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/Question202511141152SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-14T11:52:35</CreateDate>
    <NodeName Default="Question - 2025-11-14 11:52 - Slisk Lindqvist" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </questionRequestName>
    <questionRequestText>
      <Value><![CDATA[I have been been trying to get this to work on my own, but it didn't work, until I took the help from a couple of videos, and then after that also a little help from ChatGPT. ]]></Value>
    </questionRequestText>
  </Properties>
</Content>