<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5a23ba0-555e-405a-9c9e-e46a99ee16bc" Alias="Question - 2025-11-14 11:36 - Slisk Lindqvist" Level="2">
  <Info>
    <Parent Key="5c937512-315b-4edb-b55f-841f6eb336a3">Form Submissions</Parent>
    <Path>/FormSubmissions/Question202511141136SliskLindqvist</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-14T11:36:21</CreateDate>
    <NodeName Default="Question - 2025-11-14 11:36 - Slisk Lindqvist" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[slisk.lindqvist@querzion.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Slisk Lindqvist]]></Value>
    </questionRequestName>
    <questionRequestText>
      <Value><![CDATA[Testing testing.]]></Value>
    </questionRequestText>
  </Properties>
</Content>