<?xml version="1.0" encoding="utf-8"?>
<Content Key="d663e344-2cd9-4f47-97a8-c42775db89ee" Alias="Services" Level="2">
  <Info>
    <Parent Key="85a99a43-6bac-4261-85db-a98adbe97d25">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-21T02:48:25</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f620f2c4-36d3-4482-beb9-9137d176d1a0">ServicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5e65c97f-43d8-4ba0-a725-01d005d3f565",
      "key": "ff074b13-1500-462d-aa72-d14a5e336799",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceArticleLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "43ddb2b0-6948-4194-a669-bc7954a2f963",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3d3192be-a596-48e4-9b0d-3502900f52cc",
                        "mediaKey": "2a1a190e-16f7-4f4e-8d33-25af4ab1cb8d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "13ff0621-ff49-4a0a-ba67-e33c982087f0",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14px; white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "561bf0f4-9658-449b-a9df-82d509bce4ea",
                        "mediaKey": "25122a38-f0f5-4771-b0c4-09f1d9c1f6a1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "41bcef21-a8a9-4329-a794-a1c539f7045d",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9b7b44f4-2ac4-48df-9aa4-301d7cf0655a",
                        "mediaKey": "bd6b8e84-41a3-481e-a2c2-fc41d2474555",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "3ccc0786-5f98-482c-92db-ed5cad54bdf1",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8597bd53-7db2-42a8-b8c9-e5278391b7e0",
                        "mediaKey": "60fe584d-4fcf-4497-848d-9e4cf3b34ce7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "07feba98-10af-4295-ac97-f4389044cd08",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "78a9e9d6-d597-4150-87ab-68f14b0ae0a0",
                        "mediaKey": "4f28d14b-bb60-400e-8096-2e743988ae01",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
                "key": "4d258e7e-7d65-4b65-a6da-6028f8c2e4ad",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceArticleLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceArticleSummary",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceArticleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3e6b0f04-7f32-4be5-805b-5561a0d1cb6d",
                        "mediaKey": "bd85057a-41cf-43f6-92c1-6aa5b06fd5df",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "43ddb2b0-6948-4194-a669-bc7954a2f963",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "13ff0621-ff49-4a0a-ba67-e33c982087f0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "41bcef21-a8a9-4329-a794-a1c539f7045d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3ccc0786-5f98-482c-92db-ed5cad54bdf1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "07feba98-10af-4295-ac97-f4389044cd08",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4d258e7e-7d65-4b65-a6da-6028f8c2e4ad",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "43ddb2b0-6948-4194-a669-bc7954a2f963",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "13ff0621-ff49-4a0a-ba67-e33c982087f0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "41bcef21-a8a9-4329-a794-a1c539f7045d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3ccc0786-5f98-482c-92db-ed5cad54bdf1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "07feba98-10af-4295-ac97-f4389044cd08",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4d258e7e-7d65-4b65-a6da-6028f8c2e4ad",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "key": "cf08b884-ed18-4be2-9d55-8d528a857de2",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "infoLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "infoLocationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "infoPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "infoPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "infoEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "infoEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f72a333d-b0e2-46fe-8408-66ce697f9b81",
              "mediaKey": "c18e152a-5ffc-47d1-9fdf-9dfb0124d951",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1e59b359-a693-48f0-8318-6e5c02cddf34",
      "key": "3d9a8120-7f3f-4b73-aeca-ef6649c9caa5",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a",
      "key": "f4be9abd-072e-46f9-bc16-4e2dc25a2616",
      "udi": null,
      "values": [
        {
          "alias": "infoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ff074b13-1500-462d-aa72-d14a5e336799",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cf08b884-ed18-4be2-9d55-8d528a857de2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ff074b13-1500-462d-aa72-d14a5e336799",
        "contentUdi": null,
        "settingsKey": "3d9a8120-7f3f-4b73-aeca-ef6649c9caa5",
        "settingsUdi": null
      },
      {
        "contentKey": "cf08b884-ed18-4be2-9d55-8d528a857de2",
        "contentUdi": null,
        "settingsKey": "f4be9abd-072e-46f9-bc16-4e2dc25a2616",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>