<?xml version="1.0" encoding="utf-8"?>
<Content Key="7763043d-b141-4a82-945b-712936ac0a83" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T18:11:20</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "key": "5d68a91a-1fb4-4c0e-9eef-8b59d0a4deae",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://facebook.com/querzion"
        }
      ]
    },
    {
      "contentTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "key": "04962b4e-6d2b-4ef4-b79b-294d4d425f5d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/querzion"
        }
      ]
    },
    {
      "contentTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "key": "caa84216-f944-45b5-945c-5c3a21c72311",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/in/slisk-lindqvist"
        }
      ]
    },
    {
      "contentTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "key": "ee138f76-3f3f-4e03-9595-024c4891b111",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "TikTok"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.tiktok.com/@querzion"
        }
      ]
    },
    {
      "contentTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "key": "04a55ce8-439d-445e-8e40-21341f2b606c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "YouTube"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/@QuestionTheTruth"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5d68a91a-1fb4-4c0e-9eef-8b59d0a4deae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04962b4e-6d2b-4ef4-b79b-294d4d425f5d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "caa84216-f944-45b5-945c-5c3a21c72311",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ee138f76-3f3f-4e03-9595-024c4891b111",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04a55ce8-439d-445e-8e40-21341f2b606c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5d68a91a-1fb4-4c0e-9eef-8b59d0a4deae",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "04962b4e-6d2b-4ef4-b79b-294d4d425f5d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "caa84216-f944-45b5-945c-5c3a21c72311",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ee138f76-3f3f-4e03-9595-024c4891b111",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "04a55ce8-439d-445e-8e40-21341f2b606c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "01f61759-8db7-4b7e-bf7f-67f0769911b9",
    "mediaKey": "73156148-49af-48b3-88a4-5c86a01799b1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>