<?xml version="1.0" encoding="utf-8"?>
<Content Key="d07c84c0-135d-473a-8f6a-8ed64305bf3a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="d663e344-2cd9-4f47-97a8-c42775db89ee">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-26T20:44:13</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc284fca-577e-45b5-8298-c0c1cdf9e77f">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1eed3889-dea5-40e0-a4d9-4e9e49aa5029",
    "mediaKey": "bd85057a-41cf-43f6-92c1-6aa5b06fd5df",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>