@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    var content = (ContentModels.HomeUpperBoastSection)Model.Content;
}

<section class="flex justify-center pt-32">
    <div class="relative max-w-7xl w-full bg-no-repeat bg-center bg-contain bg-[url('/images/boast/BoastImg1-Img3-DotMAP.svg')]">

        <div class="flex flex-col items-center text-center">

            <h1>@content.UpperBoastBodyTitle</h1>

            <div class="mt-6 w-11/12 md:w-8/12">
                <p class="text-lg">@content.UpperBoastBodyText</p>
            </div>

            <div class="mt-8 flex justify-center">
                <button type="submit" class="bg-primary text-sub1 px-8 py-3 rounded-sm hover:bg-body-text transition font-semibold">
                    Read our story
                </button>
            </div>

            <div class="mt-20 w-full">
                <img src="@content.UpperBoastTeamImage.Url()" alt="Boast Team" class="w-full object-cover" />
            </div>

        </div>
    </div>
</section>
