@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using Onatrix.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceDetailQuestionSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceDetailQuestionSettings;
}

<section class="py-16 md:py-28">
    <div class="max-w-7xl mx-auto px-4 flex flex-col gap-4">
        
        <div class="w-7/12 mb-2">
            <h2 class="font-bold text-[1.5rem] text-primary">
                @content.ServiceDetailQuestionFormTitle
            </h2>
        </div>

        <partial name="Partials/Forms/_QuestionForm" model="new QuestionFormViewModel()" />
    
        <div class="mt-2">
            @if (TempData["FormSuccess"] != null) {
                <div class="bg-green-50 text-green-700 p-4 mb-4 rounded-md">
                    @TempData["FormSuccess"]
                </div>
            }
            @if (TempData["FormError"] != null) {
                <div class="bg-red-50 text-red-700 p-4 mb-4 rounded-md">
                    @TempData["FormError"]
                </div>
            }
        </div>
    </div>
</section>