<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16159dc6-179a-4bd7-a9de-d7987346f6b5" Alias="About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>