<?xml version="1.0" encoding="utf-8"?>
<DataType Key="431d3091-f11d-4ee7-8ae6-3fb629f438a0" Alias="Approved Color (1)" Level="1">
  <Info>
    <Name>Approved Color (1)</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "f7f7f7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>