<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb52c666-32c8-43ea-bbc0-0c88884cb6ad" Alias="Brand Logo List" Level="1">
  <Info>
    <Name>Brand Logo List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eb6e661c-0c80-4309-9c34-9e756ee9621a"
    }
  ]
}]]></Config>
</DataType>