<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfedcee7-9330-40e3-971f-6fecfeca1556" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "04620902-3ab1-4cc5-975d-9eef21037dd7"
    },
    {
      "contentElementTypeKey": "5e65c97f-43d8-4ba0-a725-01d005d3f565",
      "settingsElementTypeKey": "1e59b359-a693-48f0-8318-6e5c02cddf34"
    },
    {
      "contentElementTypeKey": "31afbe40-3f9b-4816-a8ac-922762077b2d"
    },
    {
      "contentElementTypeKey": "ab70855e-412a-40bf-af10-1d70a67a8242",
      "settingsElementTypeKey": "cf859f92-3176-48b1-8d0a-704e84f8be9a"
    },
    {
      "contentElementTypeKey": "cd9cf67f-e069-416d-9836-fb59a7f150cd"
    },
    {
      "contentElementTypeKey": "0b9b7fd4-1c4e-4db8-9a51-9501ee54280f",
      "settingsElementTypeKey": "f74e2f3a-5ca6-47ea-8f54-5fa74502c33d"
    },
    {
      "contentElementTypeKey": "ae7e07bd-ad9d-4bcd-b58d-a3da7c64e09f",
      "settingsElementTypeKey": "c7a36d02-dbde-4d59-8bc8-a8fe464d0368"
    }
  ]
}]]></Config>
</DataType>