<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b0396ad-93c3-4f9a-bf9a-9f2f5c2c6253" Alias="Service Article List" Level="1">
  <Info>
    <Name>Service Article List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6ef526fd-7afe-4ed0-84ac-217dc7cf062d",
      "label": "{umbValue: serviceArticleLabel}"
    }
  ]
}]]></Config>
</DataType>