<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cc3c7ff-2884-4713-b873-afa7e123e1d2" Alias="Service Details Asides - List" Level="1">
  <Info>
    <Name>Service Details Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9bbb1e2f-8790-4dd4-b1b0-e590e595f280"
    }
  ]
}]]></Config>
</DataType>