<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e06d1f5-d289-4750-9a31-adf65a8730f3" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b74933df-132e-4274-b914-e032c2fd7d46",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>