<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c24ca955-5d64-45c0-9f07-b54244292cfa" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "850c847e-4624-4b82-9e81-7a4aac17f529",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>