<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90e0bdbd-7eb0-4b53-a092-f878f958400a" Alias="Text Area" Level="1">
  <Info>
    <Name>Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>