@import "tailwindcss";
@import "./rte.css";
@import "./forms.css";

@theme {
    --color-neutral: #FFFFFF;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: C7C8C9;
    
    --color-sub1:   #F2EDDC; 
    --color-sub2:   #F7F7F7; 
    --color-sub3:   #D9C3A9;

    --color-something-primary: var(--color-primary); 
    --color-something-secondary: #535656; 
    --color-something-third: var(--color-secondary);
    --color-title-primary: var(--color-primary);
    
    --color-footer-bg: #0E0E0E;
    --color-footer-text: var(--color-text-secondary);
    --color-footer-accent: var(--color-sub3);
    
    --color-border:  rgba(255, 255, 255, 0.06);

    --font-poppins: 'Poppins', sans-serif;

    --icon-geo: "\f041";
    --icon-phone: "\f095";
    --icon-envelope: "\f0e0";

    --text-rte-xl: 4.375rem; /* 70px */
    --text-rte-lg: 2.5rem; /* 40px */
    --text-rte-md: 1.25rem; /* 20px */
    --text-rte-sm: 1rem; /* 16px */
    --text-rte-xs: 0.875rem; /* 14px */
}

body {
    @apply font-poppins;
}

footer {
    @apply bg-footer-bg text-footer-text;
}
footer span {
    @apply text-footer-accent;
}
.bi-geo-alt::before {
    content: "\f041";
}
.bi-telephone::before {
    content: "\f095";
}
.bi-envelope::before {
    content: "\f0e0";
}
.current a {
    @apply text-secondary;
}

